# Verification

**VERIFICA'TION**, _noun_ \[See [[Verify]].\] The act of verifying or proving to be true; the act of confirming or establishing the authenticity of any powers granted, or of any transaction, by legal or competent evidence.